@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

header {
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    
}


.area_logo {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area_logo img {
    width: 200px;
}

.area_menu {
    display: flex;
    gap: 50px;
}

.area_menu a {
    text-decoration: none;
    color: #25215C;
    font-weight: 700;
    font-size: 1.3rem;
}

.area_contato {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area_contato a {
    color: #fff;
    text-decoration: none;
    background-color: #25215C;
    padding: 15px;
    border-radius: 15px;
}


.menu_sand{
    display: none;
}


@media screen and (max-width: 900px){
	header .area_menu, header .area_contato{
        display: none;
    }

    .menu_sand{
        display: block;
        
    }

    header{
        flex-direction: column;
        height: 200px;
    }
    
    .links_menu{
        width: 100vw;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .links_menu a{
        text-decoration: none;
        color: #25215C;
        font-weight: 700;
    }

}


.baner {
    margin: 20px 0 50px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #25215C;
}

.quem_somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #25215C;
    gap: 50px;
    padding: 0 100px;
    margin-bottom: 100px;
}

.txt_quem_somos p{
    text-indent: 40px;
    font-size: 20px;
}

.vantagens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    border: none;
}

.card {
    width: 350px;
    height: 350px;
    margin: 70px 50px;
}

.card img {
    width: 350px;
    border-radius: 25px;
}

footer {
    background-color: #2F67AA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h2{
    color: #89C351 ;
    margin: 30px 0px;
    padding: 0 10px;
}

.inf_conts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 80px 0;
}

.inf_cont {
    width: 250px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    color: #fff;
}

.inf_cont a{
    text-decoration: none;
    color: #fff;
}